* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.chat_icon > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.groupchat {
  display: flex;
  background-color: white;
  width: 550px;
  border: 2px solid gray;
  align-items: center;
  padding: 5px;
}
.chat_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 23px;
}
.chat_name > h2 {
  font-size: 20px;
  color: blue;
}
.chat_name > p {
  font-size: 18px;
}
.chat_hero > h1 {
  color: blue;
  background-color: white;
  width: 550px;
}
.chat_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
